.profile_info_section{
  padding: 30px 30px;
  display: flex;
  background-color: #dff9fb;
  border-bottom: 1px solid rgb(143, 143, 255);
}

.profile_info_one{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile_info_two{
  width: 65%;
  padding: 0px 40px;
  max-width: 700px;
}

.bio_section{
  width: 100%;
}

.identity_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile_img_container{
  width: 150px;
  height: 150px;
}

.profile_img_container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.posts_numbers{
  display: flex;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.profile_posts_details{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid rgb(247, 92, 221);
  padding: 0px 20px;
}

.profile_posts_details:last-of-type{
  border-right: none;
}

.bioActive_button:hover{
  cursor: pointer;
  color: darkmagenta;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.main_bio_section{
  height: 14rem;
  outline: none;
}

.bio_active{
  background-color: #82589F;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border: 2px solid #FEA47F;
}

.profile_posts_section{
  padding: 30px 10px;
  width: 80%;
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 35px;
}

.post_container{
  width: 12rem;
  height: 17rem;
  background-color: #FEA47F;
}

.post_container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 576px){
  .profile_info_section{
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .profile_info_one{
    width: 100%;
    gap: 15px;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: unset;
  }

  .identity_card{
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .profile_posts_details{
    padding: 0px 10px;
  }

  .profile_img_container{
    width: 100px;
    height: 100px;
  }

  .profile_img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .profile_info_two{
    width: 100%;
    padding: 0px;
  }

  .profile_posts_section{
    padding: 30px 10px;
    width: 100%;
    gap: 15px 20px;
  }

  .post_container{
    width: 8rem;
    height: 10rem;
  }
  
}