.main_video_container{
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  /* padding: 20px 0px; */
}

.main_video_container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: aqua;
}

.video_info{
  width: 100%;
  position: absolute;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 14px;
}

.avatar_name{
  display: flex;
  align-items: center;
  gap: 5px;
}

.like_count{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {

  .main_video_container video{
    border-radius: 30px;
  }

}